@model List<TicketModel>

@* @{ *@
@*     // var dt = ViewData["dt"] as System.Data.DataTable; *@
@*     var ticketList = ViewData["ticketList"] as List<TicketModel>; *@
@* } *@
<div class="table-responsive">
    <table id="zero_config" class="table table-striped table-bordered no-warp">
        <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Title
            </th>
            <th>
                ID
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Status</td>
                <td>@item.Title</td>
                <td>@item.Ticket_id</td>
            </tr>
        }
        </tbody>
    </table>      
</div>
<div>
    <form id="form1", method="post" action="/home/privacychange">
        <input name="ticket_id" type="text" value="1"/>
        <input name="title" type="text" value="Changed"/>
        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
    </form>
</div>