@using Microsoft.VisualBasic
@{
    string msg = ViewData["msg"] as string;
}

@if (string.IsNullOrWhiteSpace(msg)==false)
{
    <div class="alert alert-danger">@msg</div>
}

<form id="form1" method="post" action="/Login/register" class="mt-4">
    <div class="row">
        <div class="col-lg-12">
            <div class=" form-group">
                <input name="user_name" class="form-control" type="text" placeholder="your name">
            </div>
            <div class=" form-group">
                <input name="email" class="form-control" type="email" placeholder="email">
            </div>
            <div class=" form-group">
                <input name="password" class="form-control" type="password" placeholder="password">
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <button type="submit">Submit!</button>
        </div>  
    </div>
</form>